page-settings {
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: white;
    }

    .transparent{
        background: none;
        color: white;
    }
}
