$font-path: "../assets/fonts";

@font-face{
  font-family: "Open Sans Light";
  src: url("../assets/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face{
  font-family: "Itim";
  src: url("../assets/fonts/Itim-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "Poiret";
  src: url("../assets/fonts/PoiretOne-Regular.ttf") format("truetype");
}

$app-direction: ltr;
@import "ionic.globals";
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

