.title{
    text-align: center;
    font-family: "Poiret", sans-serif;
}

.toolbar-title-md{
    color: white;
}

$ACTIVE: rgb(255, 106, 0);

.fab-md-light .button-effect{
    background-color: $ACTIVE;
}

element.style {
    transform: translate3d(-14px, -14px, 0px) scale(1);
    height: 96px;
    width: 96px;
    opacity: 0;
    transition: transform 500ms, opacity 300ms 150ms;
}


$BACKGROUNDTOP: rgb(95, 95, 95);
$BACKGROUNDBOTTOM: rgb(16, 16, 16);
$ANGLE: 120deg;

.background-gradient{
  background: -webkit-linear-gradient($ANGLE, $BACKGROUNDTOP, $BACKGROUNDBOTTOM);
  background: -o-linear-gradient($ANGLE, $BACKGROUNDTOP, $BACKGROUNDBOTTOM);
  background: -moz-linear-gradient($ANGLE, $BACKGROUNDTOP, $BACKGROUNDBOTTOM);
  background: linear-gradient($ANGLE, $BACKGROUNDTOP, $BACKGROUNDBOTTOM);
}

.header header-md{
    box-shadow: none;
}

.specs{
    color: white;
    // font-family: "Itim";
}
.values{
    color: white;
    font-family: "Open Sans Light";
}

