.title{
    text-align: center;
    font-family: "Poiret", sans-serif;
}

.toolbar-title-md{
    color: white;
}


$BACKGROUNDTOP: rgb(87, 87, 87);
$BACKGROUNDBOTTOM: rgb(16, 16, 16);
$ANGLE: 120deg;

.background-gradient{
  background: -webkit-linear-gradient($ANGLE, $BACKGROUNDTOP, $BACKGROUNDBOTTOM);
  background: -o-linear-gradient($ANGLE, $BACKGROUNDTOP, $BACKGROUNDBOTTOM);
  background: -moz-linear-gradient($ANGLE, $BACKGROUNDTOP, $BACKGROUNDBOTTOM);
  background: linear-gradient($ANGLE, $BACKGROUNDTOP, $BACKGROUNDBOTTOM);
}

.header header-md{
    box-shadow: none;
}

.specs{
    color: white;
    // font-family: "Itim";
}
.values{
    color: white;
    font-family: "Open Sans Light";
}

